body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
}

.title {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateY(25vh);
  width: 100vw;
  height: 50vh;
  color: #fff;
}

.title h1 {
  z-index: 1;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.projects {
  position: absolute;
  z-index: -1;
  margin-top: 0vh;
  border-top: solid 1px #17519c;
  background: #1c69ce;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  opacity: 0;
  width: 100vw;
  height: 50vh;
}

.content>div {
  box-sizing: border-box;
  flex: 1;
  padding: 0 20px;
}

.content>div.first,
.content>div.second {
  border-right: solid 1px #17519c;
}

.content p {
  height: 2.2em;
  text-align: center;
  color: white;
  font-size: 0.3em;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0.25em;
}

li {
  border-bottom: solid 1px #17519c;
}

a,
a:link {
  opacity: 0.8;
  text-decoration: none;
  color: #a5c4ec;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    overflow-y: scroll;
    justify-content: left;
  }
  .content>div.first,
  .content>div.second {
    border-right: none;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 96px;
  }
  .content>div.third {
    margin-bottom: 50px;
  }
}

@media (min-width: 1100px) {
  body {
    font-size: 128px;
  }
}